.App {

}

.header {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App.List {
	flex: 1;
	justify-content: left;
}